@import "tailwindcss";

:root {
  --body-bg:#f7f7f7;
  --sec-bg: #ffffff;
  --text-color: #171717;
}


body {
  background: var(--body-bg);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
button,
.btn{
  @apply text-white bg-slate-700 hover:bg-slate-600 cursor-pointer px-4 py-2 rounded-lg rounded-bl-none inline-block;
}
.animate-marquee{
  animation-play-state: running;
  animation: marquee 80s linear infinite;
}
.animate-marquee2{
  animation-play-state: running;
  animation: marquee2 80s linear infinite;
}

@keyframes marquee{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes marquee2{
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}